:root {
    --tan: #bfb9aa;
    --brown: #5e514e;
    --almost-black: #202c38;
    --dark-blue: #354a6b;
    --blue: #809db5;
    --light-blue: #d6dde6;
}

.tan {
    background-color: var(--tan);
}
.brown {
    background-color: var(--brown);
}
.almost-black {
    background-color: var(--almost-black);
}
.dark-blue {
    background-color: var(--dark-blue);
}
.light-blue {
    background-color: var(--light-blue);
}

body {
    background-color: var(--light-blue);
    color: var(--almost-black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;

}

div,
section,
article {
    padding: 20px;
    border: 2pt solid black;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "what what what"
    "who where experience"
    "serve serve serve";
    justify-items: stretch;
    align-items: stretch;
    gap: 10px;
}

#article-1 {
    grid-area: what;
}
#article-2 {
    grid-area: who;
}
#article-3 {
    grid-area: where;
}
#article-4 {
    grid-area: serve;
}
#article-5 {
    grid-area: experience;
}