:root {
    --tan: #bfb9aa;
    --brown: #5e514e;
    --almost-black: #202c38;
    --dark-blue: #354a6b;
    --blue: #809db5;
    --light-blue: #d6dde6;
}


body {
    background-color: var(--light-blue);
    color: var(--almost-black);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;

}

div,
section,
article {
    padding: 50px;
    border: 2pt solid salmon;
}